-e . # install the project code into virtual environment in editable mode
#git+https://github.com/norc-heal/healdata-utils.git@pr-integration
jupyter>=1.0.0
seaborn>=0.11.2
plotly>=5.14.1
pyreadstat>=1.2.1
pandas>=1.4
joblib>=1.2.0
samplics>=0.4.8
frictionless>=5.0
dvc